# PORT=port d'écoute

# BACK_URL=URL de l'API pour les emails de vérification

# FRONT_URL=URL du front

# USER_DB=user de la db
# PASSWORD_DB=password de la db

# PG_URL=postgres://<username>:<password>@<server_name>:<sql_port>/<database_name>

# JWT_SECRET=token

# SMTP_USER=adresse mail
# SMTP_PASS=mot de passe mail

# NODE_ENV=development

# Docker :
    # db :
    	#    POSTGRES_USER=username
     	#   POSTGRES_PASSWORD=password
      	#  POSTGRES_DB=database_name

    #back:
     	#   PG_URL_DOCKER=postgres://<username>:<password>@db:5432/<database_name>

# IMAGEKIT_PRIVATE_KEY=clé privée pour ImageKit

# SMTP_HOST=serveur smtp
# SMTP_PORT=port smtp
# SMTP_USER=utilisateur smtp
# SMTP_PASS=mot de passe smtp
